
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>DoggyBag</title>
</head>
<body>

<section id="header">
    <article>
        <h2>DoggyBag</h2>
    </article>
    <nav id="main-nav">
        <a href="#header">Home</a>
        <a href="#zero-foodwaste">Zero foodwaste</a>
        <a href="#save-money">Save money</a>
        <a href="#movement">Movement</a>
    </nav>
</section>
<section id="zero-foodwaste">
    <article>
        <h3>Zero foodwaste</h3>
        <p>Onze missie? Ervoor zorgen dat lekker eten opgegeten wordt en niet wordt weggegooid. Iedere dag wordt er heerlijk eten verspild in supermarkten, bakkers, restaurants, hotels, bij producenten en in andere winkels - alleen omdat het niet op tijd verkocht wordt. Via de Too Good To Go-app kunnen consumenten een Magic Box -een verrassingspakket met overgebleven eten- kopen en ophalen bij een van onze partners. En dat voor een scherpe prijs.</p>
        <p></p> 
        <a class="btn btn-primary" asp-action="RsvpForm">Bekijk aanbod</a>
        </article>
</section>
<section id="save-money">
    <article>
        <h3>Save Money</h3>
        <p>Niemand vindt het leuk om te zien dat goed eten in de prullenbak belandt. Too Good To Go kan het ook niet langer aanzien dat meer dan 1/3 van het geproduceerde eten wordt weggegooid en is vastberaden dat er iets moet gebeuren. Altijd op een leuke en laagdrempelige manier. Via de app verbindt Too Good To Go winkels met overgebleven producten aan consumenten. Op die manier zijn in Nederland al 9 miljoen maaltijden gered van de verspilling. In Nederland heeft de app meer dan 2 miljoen geregistreerde gebruikers. Als Certified B Corporation zet Too Good To Go zich naast de app ook op verschillende plekken in de maatschappij in om impact te maken. Of het nu gaat om huishoudens, scholen, bedrijven of de politiek. Too Good To Go wil heel Nederland inspireren en motiveren om in actie te komen tegen voedselverspilling. De app is gratis te downloaden in de App Store en Google Play Store. </p>
    </article>
</section>
<section id="movement">
    <article>
        <h3>Movement</h3>
        <p>We werken samen met scholen, bedrijven en de politiek om de voedselketen op te schudden en om de wereld anders te laten denken over voedselverspilling.</p>

    </article>
</section>


</body>
</html>